---
import Page from "../layouts/Page.astro";
---

<Page title="404">
  <h1>Page not found.</h1>
  <h3>The page you requested doesn't or no longer exists.</h3>
  <p>Apologies if a button took you here. Please consider <a href="/contact">sharing the issue</a>.</p>
  <p>If you typed the address in - double check.</p>
  <a href="/">Home.</a>
</Page>
