---
import Page from "../layouts/Page.astro";
---

<Page title="About me.">
  <!-- <div class="portfolio"> -->
  <section>
    <h1>Welcome to the <span class="text-gradient">Art Area</span>.</h1>
    <br />
    <h2>Inspiration: Abba's Abstracts</h2>
    <br />
    <p>My main artistic inspiration is my grandfather, affectionately known as Abba. Yes - like the band. It was a toddler-aged association born of dancing together to his stereo and what I suspect was an alphabetical stack of CDs.</p>
    <br />
    <p>Check out his paintings on his website <a href="https://www.nivtopia.art/">Nivtopia</a></p>
  </section>

  <section>
    <h2>My Works</h2>
    <p>I've enjoyed drawing and painting for as long as I can remember.</p>
    <p>Here are some of the pieces I've made over the years.</p>

    <img src="/art/pencil.jpg" alt="pencil drawing" />
    <section>
      <img src="/art/cardboard.jpg" alt="cardboard painting" />
    </section>
    <section>
      <img src="/art/portrait.jpg" alt="self portrait" />
    </section>
    <section>
      <img src="/art/lobster.jpg" alt="lobster painting" />
    </section>
  </section>
</Page>
<style>
  :root {
    --color-gradient: linear-gradient(110deg, var(--color-accent), var(--color-text-alt));
  }

  h1 {
    margin: 2rem 0;
  }

  img {
    max-width: 40rem;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes wipe-enter {
    0% {
      transform: scale(0, 0.025);
    }
    50% {
      transform: scale(1, 0.025);
    }
  }

  .square-animation {
    animation: wipe-enter 1s 2;
  }

  .square {
    width: 200px;
    height: 200px;
    background: orange;
    margin: 2rem;
  }

  /* .portfolio {
    position: relative;
    height: 90vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  } */

  .timeline {
    border-bottom: 0.2rem solid aqua;
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .botline {
    border-top: 0.2rem solid aqua;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-left: 5rem;
  }

  .node {
    background-color: var(--color-bg-alt);
    border: 0.1rem solid var(--color-text);
  }

  h2 {
    font-size: xx-large;
  }

  section {
    font-size: x-large;
    padding: 5rem;
    scroll-snap-align: start;
    height: 95vh;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const square = entry.target;

      if (entry.isIntersecting) {
        square.classList.add("square-animation");
        return; // if we added the class, exit the function
      }

      // We're not intersecting, so remove the class!
      square.classList.remove("square-animation");
    });
  });

  observer.observe(document.querySelector(".square"));
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script is:inline>
  function downloadPDF() {
    var element = document.getElementById("portfolio");
    html2pdf(element);
    console.log("hello pdf");
  }

  function toggleShowTell() {}
</script>
