---
import Page from "../layouts/Page.astro";

let posts = await Astro.glob("./posts/*.md");
---

<Page title="JakeSite Blog">
  <h1>Jakesite <span class="text-gradient">Blog</span></h1>
  <p class="instructions">
    Check out the <code>src/Layouts</code> directory to get started.<br />
    <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>
  <h2>Recent Posts:</h2>
  <ul class="posts">
    {
      posts.map((post) => (
        <li class="link-card">
          <a href={`/posts/${post.frontmatter.slug}`}>
            <h2>
              {post.frontmatter.title}
              <span>&rarr;</span>
            </h2>
            <p>{post.frontmatter.description}</p>
            <p class="date">Added: {post.frontmatter.date}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Page>

<style>
  :root {
    --color-gradient: linear-gradient(0deg, red, orange);
  }

  h1 {
    margin: 2rem 0;
  }

  article {
    margin: 1rem 0;
    background: #4f39fa;
    padding: 0.5rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card {
    list-style: none;
    display: flex;
    border-radius: 0.5rem;
    border: 0.2rem solid transparent;
    background: var(--color-border);
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--text-color);
    background-color: var(--color-bg-accent);
    opacity: 0.9;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .date {
    color: var(--color-alt);
  }
</style>
