---
import Page from "../layouts/Page.astro";
import Card from "../components/Card.astro";
---

<Page title="Jakesite Blog">
  <h1>Jakesite <span class="text-gradient">Blog</span></h1>
  <p class="instructions">
    Check out the <code>src/Layouts</code> directory to get started.<br />
    <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
  </p>
  <ul role="list" class="link-card-grid">
    <Card href="/portfolio" title="Portfolio" body="Learn about my skills and experience in computer systems." />
    <Card href="/games" title="Games" body="Play a round or two... or ten." />
    <Card href="/contact" title="Contact" body="Feel free to reach out." />
    <Card href="https://astro.build/chat/" title="Lab" body="Come say hi to our amazing Discord community. ❤️" />
  </ul>
</Page>

<style>
  :root {
    --color-gradient: linear-gradient(0deg, red, orange);
  }

  h1 {
    margin: 2rem 0;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
