---
import Page from "../layouts/Page.astro";
// import Video from "../components/Video.astro";
---

<Page title="Lab">
  <h1>Jakesite <span class="text-gradient">Lab</span></h1>

  <button id="fullscreen-button" onclick="toggle_fullscreen()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- <div class="vid">
    <Video />
  </div> -->
</Page>
<style>
  /* Fullscreen Button 
  ------------------------------*/
  #fullscreen-button {
    position: absolute;
    top: 5rem;
    right: 5rem;
    background-color: rgba(var(--color-text), 0.5);
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: transform 0.3s;
    font-size: 0;
    pointer-events: auto;
    cursor: pointer;
  }
  #fullscreen-button:hover {
    transform: scale(1.125);
  }
  #fullscreen-button span {
    width: 4px;
    height: 4px;
    border-top: 2.5px solid var(--color-text); /* color */
    border-left: 2.5px solid var(--color-text); /* color */
    position: absolute;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
    transition: 0.3s;
    transition-delay: 0.75s;
  }
  #fullscreen-button span:nth-child(1) {
    top: 11px;
    left: 11px;
  }
  #fullscreen-button span:nth-child(2) {
    top: 11px;
    left: 22px;
    transform: rotate(90deg);
  }
  #fullscreen-button span:nth-child(3) {
    top: 22px;
    left: 11px;
    transform: rotate(-90deg);
  }
  #fullscreen-button span:nth-child(4) {
    top: 22px;
    left: 22px;
    transform: rotate(-180deg);
  }

  /* Fullscreen True
  ------------------------------*/
  [fullscreen] #fullscreen-button span:nth-child(1) {
    top: 22px;
    left: 22px;
  }
  [fullscreen] #fullscreen-button span:nth-child(2) {
    top: 22px;
    left: 11px;
  }
  [fullscreen] #fullscreen-button span:nth-child(3) {
    top: 11px;
    left: 22px;
  }
  [fullscreen] #fullscreen-button span:nth-child(4) {
    top: 11px;
    left: 11px;
  }

  /* Dark Style
  ------------------------------*/
  [light-mode="dark"] {
    background: #111;
    color: #fff;
  }
  [light-mode="dark"] #fullscreen-button {
    background: rgba(255, 255, 255, 0.05);
  }

  [light-mode="dark"] #fullscreen-button span {
    border-top: 2.5px solid #fff;
    border-left: 2.5px solid #fff;
  }
</style>
<script is:inline>
  const document_element = document.documentElement;
  if (document.fullscreenEnabled /* Standard syntax */ || document.webkitFullscreenEnabled /* Safari */ || document.msFullscreenEnabled /* IE11 */) {
    create_fullscreen_button();
  }
  function create_fullscreen_button() {
    let fullscreen_button = document.createElement("button");
    fullscreen_button.setAttribute("id", "fullscreen-button");
    fullscreen_button.addEventListener("click", toggle_fullscreen);
    fullscreen_button.innerHTML = `
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    `;
    document.body.appendChild(fullscreen_button);
  }

  function toggle_fullscreen() {
    if (
      !document.fullscreenElement && // alternative standard method
      !document.mozFullScreenElement &&
      !document.webkitFullscreenElement
    ) {
      // current working methods
      if (document.documentElement.requestFullscreen) {
        document.documentElement.requestFullscreen();
      } else if (document.documentElement.mozRequestFullScreen) {
        document.documentElement.mozRequestFullScreen();
      } else if (document.documentElement.webkitRequestFullscreen) {
        document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
      }
      document.body.setAttribute("fullscreen", "");
    } else {
      if (document.cancelFullScreen) {
        document.cancelFullScreen();
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitCancelFullScreen) {
        document.webkitCancelFullScreen();
      }
      document.body.removeAttribute("fullscreen");
    }
  }
  function check_fullscreen() {
    // Because users can exit & enter fullscreen differently
    if (document.fullscreenElement || document.webkitIsFullScreen || document.mozFullScreen) {
      document.body.setAttribute("fullscreen", "");
    } else {
      document.body.removeAttribute("fullscreen");
    }
  }
  setInterval(function () {
    check_fullscreen();
  }, 1000);
</script>

<style>
  :root {
    --color-gradient: linear-gradient(0deg, red, orange);
  }

  h1 {
    margin: 2rem 0;
  }

  .vid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
