---
import Page from "../../../layouts/Page.astro";
---

<Page title="The WebGpu Series">
    <div class="wrap">
        <a href="/lab/webgpu/tri">The Web and the Gpu</a>
        <a href="/lab/webgpu/quads">2 Web 2 Gpu</a>
        <a href="/lab/webgpu/snek">WebGpu3: Tokyo Snake</a>
        <a href="/lab/webgpu/life">Web & Gpu</a>
        <!-- <a href="/lab/webgpu/quads">WebGpu Five</a>
        <a href="/lab/webgpu/life">Web & Gpu 6</a>
        <a href="/lab/webgpu/quads">WebGpu 7</a>
        <a href="/lab/webgpu/quads">The Fate of the WebGPU</a>
        <a href="/lab/webgpu/quads">WGPU9</a>
        <a href="/lab/webgpu/quads">WebGpu X</a> -->
    </div>
</Page>

<style>
    .wrap {
        padding: 1rem;
        display: grid;
        place-items: center;
        gap: 1rem;
    }
</style>
