---
import Layout from '../../components/Layout.astro';
---

<Layout title="Test Lab">
	<h3>Welcome to testing area for new experiments, features, etc. </h3>
	<p class="instructions">Active experiments:</p>
	<ul>
		<a href="/yew">rust/yew web-app</a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
	</ul>
</Layout>

<style>
	/* Mobile (default) layout */

	h2 {

		display: flex;
		align-items: center;
	}

	h2 span {
		padding: 0.5rem;
	}

	svg {
		fill: var(--color-text);
		max-height: 4rem;
		padding-right: 1rem;
	}
</style>