:root {
  color-scheme: dark;

  --color-bg: hsl(222, 4%, 8%);
  --color-bg-alt: black;
  --color-border: hsl(17, 24%, 90%);
  --color-border-alt: hsl(17, 24%, 90%);
  --color-text: hsl(10, 21%, 95%);
  --color-text-alt: red;
  --color-accent: darkorange;
  --color-accent-alt: deepskyblue;
}

:root:has(#defaultTheme:checked) {
  --color-bg: hsl(222, 4%, 8%);
  --color-bg-alt: black;
}

:root:has(#steelTheme:checked) {
  --color-bg: hsl(210, 5%, 8%);
  --color-bg-alt: hsl(210, 5%, 12%);
}

:root:has(#skyTheme:checked) {
  --color-bg: hsl(230, 100%, 4%);
  --color-bg-alt: hsl(230, 100%, 8%);
}

:root:has(#denimTheme:checked) {
  --color-bg: hsl(210, 95%, 8%);
  --color-bg-alt: hsl(210, 95%, 12%);
}

:root:has(#oceanTheme:checked) {
  --color-bg: hsl(195, 95%, 4%);
  --color-bg-alt: hsl(195, 95%, 8%);
}

:root:has(#mintTheme:checked) {
  --color-bg: hsl(180, 95%, 8%);
  --color-bg-alt: hsl(180, 95%, 12%);
}

:root:has(#jungleTheme:checked) {
  --color-bg: hsl(120, 95%, 4%);
  --color-bg-alt: hsl(120, 95%, 8%);
}

:root:has(#coffeeTheme:checked) {
  --color-bg: hsl(30, 95%, 4%);
  --color-bg-alt: hsl(30, 95%, 8%);
}

:root:has(#wineTheme:checked) {
  --color-bg: hsl(330, 95%, 5%);
  --color-bg-alt: hsl(330, 95%, 9%);
}

:root:has(#prettyTheme:checked) {
  --color-bg: hsl(290, 96%, 8%);
  --color-bg-alt: hsl(290, 95%, 12%);
}
