---
export interface Props {
    rank?: number;
    suit?: number;
}

const { rank, suit } = Astro.props;
let card = "back";

if (rank && suit) {
    card = `${suit}_${rank}`;
}
---

<div class="card" data-card={card}></div>

<style>
    .card {
        display: flex;
        min-height: 175px;
        aspect-ratio: 5 / 7;
        border-radius: 0.75rem;
        list-style: none;
        border: var(--color-text) solid 0.5rem;
        background-origin: padding-box;
        background-clip: padding-box;
        background-position: center;
    }

    :root[data-card-back="red"] .card[data-card="back"] {
        background-image: url("/assets/cards/red.svg");
    }

    :root[data-card-back="blue"] .card[data-card="back"] {
        background-image: url("/assets/cards/blue.svg");
    }

    :root[data-card-back="orange"] .card[data-card="back"] {
        background-image: url("/assets/cards/orange.svg");
    }

    :root[data-card-back="green"] .card[data-card="back"] {
        background-image: url("/assets/cards/green.svg");
    }

    :root[data-card-back="pink"] .card[data-card="back"] {
        background-image: url("/assets/cards/pink.svg");
    }

    :root[data-card-back="purple"] .card[data-card="back"] {
        background-image: url("/assets/cards/purple.svg");
    }

    :root[data-card-back="rainbow"] .card[data-card="back"] {
        background-image: url("/assets/cards/rainbow.svg");
    }
</style>
