---
// Run at build time
//https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/cross_browser_video_player
---

<h2>Video Player</h2>
<head>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script>
</head>
<body>
  <div class="players">
    <input type="checkbox" class="chk" />
    <select id="playerSelect" onchange="localStorage.setItem('player', this.value);">
      <option id="clapper">Clapper</option>
      <option id="lightTheme">Light</option>
    </select>
  </div>
  <div id="player-wrapper"></div>
  <script>
    var playerElement = document.getElementById("player-wrapper");

    var r = 3; // Retry attempts

    var player = new Clappr.Player({
      // source: 'http://clappr.io/highline.mp4',
      source: "http://clappr.io/bad_highline.mp4",
      disableErrorScreen: true, // Disable the internal error screen plugin
      height: 360,
      width: 640,
      events: {
        onError: function (e) {
          r--;
          var s = player.options.source;
          // Replace previous line by the following line to simulate successful recovery
          // var s = (r > 2) ? player.options.source : 'http://clappr.io/highline.mp4';
          var t = 10;
          var retry = function () {
            if (t === 0) {
              var o = player.options;
              o.source = s;
              player.configure(o);
              return;
            }
            Clappr.$("#retryCounter").text(t);
            t--;
            setTimeout(retry, 1000);
          };
          player.configure({
            autoPlay: true,
            source: "playback.error",
            playbackNotSupportedMessage: "Network error." + (r > 0 ? ' Retrying in <span id="retryCounter"></span> seconds ...' : " All retry attempts failed"),
          });
          if (r > 0) {
            retry();
          }
        },
      },
    });

    player.attachTo(playerElement);
  </script>
</body>
