---
import Page from "../../layouts/Page.astro";
---

<Page title="Demo">
  <section>
    <h2>Product Plus represents Erikson Consumer</h2>
    <img src="/assets/demo/erikson-logo.svg" alt="" />
    <h3>Brian Surrett</h3>
    <h4>Sales Agent serving Ontario</h4>
    <ul>
      <li>613-850-9719</li>
      <li>b.surrett20@gmail.com</li>
    </ul>
  </section>
  <br />
  <br />
  <br />
  <section>
    <h2>Product Plus represents Totem Acoustic</h2>
    <img src="/assets/demo/totem-logo.png" alt="" />
    <h3>Brian Surrett</h3>
    <h4>Sales Agent serving Ontario</h4>
    <ul>
      <li>613-850-9719</li>
      <li>b.surrett20@gmail.com</li>
    </ul>
  </section>

  <style>
    img {
      object-fit: contain;
      max-width: 20rem;
    }

    .lite {
      background-color: #222;
    }
  </style>
</Page>
