---
import Page from "../../layouts/Page.astro";
---

<Page title="Demo">
  <section>
    <h2>Product Plus represents Erikson Consumer</h2>
    <div class="card">
      <img src="/assets/demo/erikson-logo.svg" alt="" />
      <h3>Brian Surrett</h3>
      <h4>Sales Agent serving Ontario</h4>
      <ul>
        <li>613-850-9719</li>
        <li>b.surrett20@gmail.com</li>
      </ul>
    </div>
  </section>
  <br />
  <br />
  <br />
  <section>
    <h2>Product Plus represents Totem Acoustic</h2>
    <div class="card">
      <img src="/assets/demo/totem-logo.png" alt="" />
      <h3>Brian Surrett</h3>
      <h4>Sales Agent serving Ontario</h4>
      <ul>
        <li>613-850-9719</li>
        <li>b.surrett20@gmail.com</li>
      </ul>
    </div>
  </section>

  <style>
    body {
      background-color: rgb(28, 47, 47);
    }
    h2 {
      font-size: xx-large;
      color: white;
    }

    .card {
      margin: 2rem;
      padding: 2rem;
      background-color: white;
      background-image: url("/assets/imgs/cream_paper.png");
      box-shadow: 0.5rem 0.5rem 2rem 0.5rem #111;
      width: fit-content;
      border-radius: 0.25rem;
    }

    img {
      object-fit: contain;
      max-width: 20rem;
    }

    .lite {
      background-color: #222;
    }
  </style>
</Page>
