---
import Page from "../../layouts/Page.astro";
---

<Page title="About me.">
  <!-- <div class="portfolio"> -->

  <section>
    <h1>Welcome to the <span class="text-gradient">Art Area</span>.</h1>
    <br />
    <h2>Inspiration: Abba's Abstracts</h2>
    <br />
    <p>My main artistic inspiration is my grandfather, affectionately known as Abba. Yes - like the band. It was a toddler-aged association born of dancing together to his stereo and what I suspect was an alphabetical stack of CDs.</p>
    <br />
    <p>Check out his paintings on his website <a href="https://www.nivtopia.art/">Nivtopia</a></p>
  </section>
  <section>
    <h2>My Works</h2>
    <p>I've enjoyed drawing and painting for as long as I can remember.</p>
    <p>Here are some of the pieces I've made over the years.</p>
    <img src="/art/pencil.jpg" alt="pencil drawing" />

    <img src="/art/cardboard.jpg" alt="cardboard painting" />

    <img src="/art/portrait.jpg" alt="self portrait" />

    <img src="/art/lobster.jpg" alt="lobster painting" />
  </section>
</Page>
<style>
  :root {
    --color-gradient: linear-gradient(110deg, var(--color-accent), var(--color-text-alt));
  }

  h1 {
    margin: 2rem 0;
  }

  img {
    max-width: 40rem;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  h2 {
    font-size: xx-large;
  }

  section {
    font-size: x-large;
    padding: 5rem;
  }
</style>
