---
import Page from "../../../layouts/Page.astro";
---

<Page title="Photo Zoom">
    <h1>Photo Zoom</h1>
    <div class="btns">
        <button id="out">Zoom Out -</button>
        <button id="rst">Reset</button>
        <button id="in">Zoom In +</button>
    </div>
    <canvas id="canvas" width="600" height="300"></canvas>
    <script>
        function init() {
            const canvas = document.getElementById(
                "canvas",
            ) as HTMLCanvasElement;
            const ctx = canvas.getContext("2d") as CanvasRenderingContext2D;
            const btnIn = document.getElementById("in") as HTMLButtonElement;
            const btnOut = document.getElementById("out") as HTMLButtonElement;
            const btnRst = document.getElementById("rst") as HTMLButtonElement;
            btnIn.addEventListener("click", zoomIn);
            btnOut.addEventListener("click", zoomOut);
            btnRst.addEventListener("click", reset);

            const img = new Image();
            img.src = "/imgs/hd.jpg";
            img.onload = () => {
                canvas.width = img.width;
                canvas.height = img.height;
                canvas.style.width = img.width + "px";
                canvas.style.height = img.height + "px";
                draw();
            };
            let zoom = 1;

            function draw() {
                // wipe canvas
                ctx.reset();

                // resize for zoom
                ctx.scale(zoom, zoom);

                // draw user image
                if (img.src) {
                    ctx.drawImage(img, 0, 0);
                }
            }
            function zoomIn() {
                zoom *= 1.1;
                draw();
            }
            function zoomOut() {
                zoom *= 0.9;
                draw();
            }
            function reset() {
                zoom = 1;
                draw();
            }
        }
        document.addEventListener("astro:page-load", init);
    </script>
</Page>
