<section aria-labelledby="hobby-title">
    <h2 id="hobby-title">Some Hobbies</h2>
    <ul>
        <li>Baseball
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M121.8 28.66c-12.6.28-26.24 11.28-32.89 21.75C56.89 103.1 38.51 167.7 32.92 228c-5.58 60.4 1.9 116.5 19.46 151.1C88.26 450 133.6 475.5 177 481.8c43.3 6.3 85.3-7.4 112.3-19.4 101.7-61.8 148.6-114.8 186-198.7 9.4-21.1 5.7-40.2-1.2-46.6-3.4-3.2-7.1-4.5-14-2.7-6.1 1.6-14.7 6.5-24.2 16.3l8.1-1.3 3.1 18.3-22.4 3.8 9.7 25.5-17.3 6.6-6.6-17.4c-9.2 12.8-19.5 25.9-32.7 39.4l-13.2-13c11.8-12.1 21.2-24 29.8-35.9l-14.2 2.4-3-18.3 22.2-3.8-7.8-20.6 17.3-6.6 6.5 17.1c9.6-18.7 22.2-45.3 24.4-63.4 3.1-22.8-20.6-40.6-32.7-21.5-8.3 14.9-16.6 29.9-25.3 44.8l14-3.3 4.3 18.2-26.2 6.2 6 20.2-17.7 5.4-3.1-10.4c-10.2 14.9-21.4 29.9-34.5 44.6l-13.8-12.4c11.7-13.1 21.8-26.3 31-39.7l-13.8 3.3-4.3-18.2 26.9-6.3-7.3-24.5 17.7-5.3 4.1 13.9c8-13.7 15.7-27.5 23.4-41.4 3.8-44.84-28.2-64.14-48.9-27.8-4.1 12.3-8.3 24.7-13.2 37.1l14.3-3.8 4.7 18-25.5 6.7 8 22.2-17.5 6.2-3.1-8.5c-8.7 15.9-19.3 31.6-32.4 46.4l-14-12.2c13.2-15 23.7-30.8 32.4-47.1l-18.5 4.8-4.8-17.9 25.6-6.7-9.1-25.2 17.5-6.2 5.6 15.4c4.5-11.6 8.6-23.5 12.5-35.3 2.8-18.79 1.5-31.63-1.4-39.68-4.4-14.58-26.4-20.4-33.4-7.57-16 33.19-34.5 81.05-55 119.65-10.3 19.3-21.1 36.4-33.1 48.6-12.1 12.3-26.9 20.3-42.7 16.8-16.5-3.6-28-15.5-33.6-30.4-5.7-14.8-6.7-32.5-5.5-51.8 2.4-37.5 13.9-80.97 24.5-116.64-5.2-9.98-12.5-13.67-20.1-13.5zm34.5 30.04c-2.4 8.48-4.8 17.28-7.1 26.19 19.2 6.59 40.8 11.78 61 14.35 13.4 1.76 26.1 2.16 36.7 1.56 3.7-8.45 7.3-16.81 10.9-24.85-37.4.23-73.9-7.55-101.5-17.25zm23.9 54.2l-4.7 22.6c5 1.3 10.1 2.4 15.2 3.5l4.6-23.2c-5.1-.9-10.1-1.8-15.1-2.9zm-42.9 31.8c-.6 5.3-1.2 10.3-1.5 15.3-.2 2.9-.3 5.8-.3 8.7 24.1 8.6 47.8 14.6 70.2 16.1 3.5-5.6 6.9-11.6 10.3-17.9.6-1.3 1.3-2.6 1.9-3.9-27.8-4.5-54.4-11-80.6-18.3zm25.5 51.9l-5.3 25.5c1 .3 1.9.6 2.9.8 4.7 1 9.3.2 14.4-2.7l3.9-20c-5.3-1-10.6-2.2-15.9-3.6zm46.5 53.2c56.7 0 103 46.2 103 103 0 28.5-11.8 54.4-30.5 73.1 2.8 1.3 5.6 2.7 8.4 4l-8 16.7c-50.8-24.7-107.6-46.5-182-30.2l-3.94-18.1c6.54-1.4 12.84-2.5 18.94-3.4-5.7-12.9-8.9-27.1-8.9-42.1 0-56.8 46.2-103 103-103zm0 18.5c-24.2 0-46 10.1-61.3 26.3 14.5 16 23.9 35.3 26.8 56.3 1.8 13.7 1 27.9-2.8 42.3 33.9 3 64.1 12.8 91.3 24.5 2.3-1.9 4.5-3.9 6.4-5.9-16.3-20-25.3-41.7-27.3-63.5-1.9-22.5 3.7-44.7 15.8-64.4-13.8-9.8-30.7-15.6-48.9-15.6zm62.9 28c-9 15.9-12.8 33.1-11.3 50.4 1.5 16.7 8 33.8 20.6 50 7.7-12.7 12.2-27.8 12.2-43.9 0-21.8-8.1-41.5-21.5-56.5zm-135.6 13.4c-7.5 12.6-11.8 27.3-11.8 43.1 0 14.5 3.7 28.1 10.1 40 6.1-.4 12.2-.6 18-.5h.2c4.2-13.5 5-26.6 3.3-38.8-2.2-16.1-9-31-19.8-43.8z" />
            </svg>
        </li>
        <li>Golf
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M193 33v443.55c5.33.678 10.708 1.133 16.123 1.307l-.076-278.337L383.727 136 209.014 72.467 209.002 33H193zm159 352c-17.227 0-31 13.773-31 31s13.773 31 31 31 31-13.773 31-31-13.773-31-31-31zm-104 48c-7.122 0-14.096.16-20.89.445l.013 45.112c6.79.286 13.76.443 20.877.443 34.738 0 66.208-3.574 88.326-9.104 6.035-1.508 11.344-3.186 15.805-4.9-.043 0-.086.004-.13.004-19.54 0-36.49-11.588-44.344-28.23C290.02 434.39 269.646 433 248 433zm-73 5.867c-5.484.983-10.628 2.062-15.326 3.237-11.06 2.764-19.795 6.09-25.035 9.187-4.377 2.588-5.365 4.426-5.576 4.71.21.284 1.2 2.122 5.575 4.71 5.24 3.097 13.975 6.422 25.034 9.186 4.698 1.175 9.842 2.254 15.326 3.237v-34.266zM129.064 456c-.04-.056-.064-.074-.064 0s.023.056.064 0z" />
            </svg>
        </li>
        <li>Curling
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M160 85c-3.1 0-9.2 3.86-14.2 11.74-3.4 5.26-6 11.86-7.5 18.26h168l22.5 62H128c-3.5 0-9.8 3.7-14.8 10.4-2.7 3.5-4.8 7.7-6.2 11.6h297.2c-1.6-3.3-3.9-6.8-6.8-9.9-5.9-6.3-13.5-10.1-17.4-10.1h-5.5l-48-94H160zm-48 132c-28.25 0-49.54 17.5-64.51 40-12.09 18.2-19.31 39.6-21.65 54H486.2c-2.4-14.4-9.6-35.8-21.7-54-15-22.5-36.3-40-64.5-40H112zM25 329v46h462v-46H25zm.84 64c2.34 14.4 9.56 35.8 21.65 54 14.97 22.5 36.26 40 64.51 40h288c28.2 0 49.5-17.5 64.5-40 12.1-18.2 19.3-39.6 21.7-54H25.84z" />
            </svg>
        </li>
        <li>Visual Arts
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M54.438 29.793a23.808 23.808 0 0 0-1.204.012c-4.688.157-7.914 1.734-10.113 3.933-2.932 2.932-4.76 7.689-3.588 15.305 1.174 7.616 5.683 17.754 15.272 28.941 67.894 79.21 132.935 155.56 183.703 211.97 12.273 13.636 23.693 26.079 34.125 37.134 12.095-31.902 34.57-54.144 62.902-64.715-10.825-10.199-22.936-21.313-36.197-33.248C242.93 178.357 166.578 113.314 87.369 45.42c-11.186-9.59-21.325-14.098-28.941-15.272a29.555 29.555 0 0 0-3.99-.355zm375.109 1.043c-.307-.003-.6.004-.875.023-2.212.147-3.34.654-4.576 1.891l-27.58 27.58 55.156 55.154 27.578-27.58c1.238-1.236 1.745-2.362 1.89-4.574.15-2.21-.37-5.434-1.804-9.164-2.87-7.46-9.277-16.667-17.055-24.445-7.778-7.778-16.985-14.185-24.445-17.055-3.264-1.255-6.138-1.81-8.287-1.83h-.002zm-45.758 42.22l-9.9 9.901 9.9 9.898 12.727 12.729 9.9 9.898 12.729 12.729 9.898 9.9 9.9-9.9-55.154-55.154zm-22.627 22.628l-87.389 87.39 10.467 9.332 86.822-86.822-9.9-9.9zm22.627 22.629l-86.092 86.09 10.469 9.331 85.523-85.523-9.9-9.899zm22.629 22.624l-84.795 84.795 10.469 9.332 84.226-84.226-9.898-9.9h-.002zm-213.857 123.35L72.664 384.186l9.898 9.898 119.342-119.342-9.343-10.455zm157.66 12.147c-30.461 7.627-53.24 29.184-63.608 65.218 5.652 5.785 10.956 11.085 15.78 15.707 7.58 7.264 14.096 13.007 19.21 16.957 1.777-17.225 10.045-33.062 21.645-44.691 10.601-10.628 24.496-18.006 39.125-19.092-3.87-4.836-9.139-10.75-15.629-17.523-4.838-5.047-10.416-10.623-16.523-16.576zm-136.303 11.748L95.289 406.809l9.9 9.902 118.075-118.074-9.346-10.455zm21.361 23.894L117.918 429.437l9.896 9.9 116.81-116.806-9.345-10.455zm150.293 16.307c-10.397.137-20.929 5.28-29.582 13.955-11.537 11.565-18.674 28.851-16.267 45.701 5.334 37.342 23.75 65.81 49.46 81.236 22.728 13.636 51.452 17.35 83.643 6.983-24.222-4.01-46.475-30.705-48.197-50.649 10.63 12.814 23.94 24.547 38.426 31.75-9.881-22.578-9.201-45.453-11.088-64.322-1.352-13.522-3.891-24.982-11.377-35.162-7.486-10.18-20.423-19.8-44.74-27.906a31.062 31.062 0 0 0-10.278-1.586zm-322.35 71.816l-.003.002.002.002.002-.004zm-.001.004l-12.117 30.3 30.392 30.395 30.305-12.12-6.61-6.612-12.732-12.727-9.898-9.898-12.73-12.728-6.61-6.61zm-19.395 48.485l-12.992 32.476 32.478-12.992-19.486-19.485z">
                </path>
            </svg>
        </li>
        <li>Sim-Racing
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M256 54.28c-124.603 0-226 101.398-226 226 0 47.864 14.975 92.293 40.465 128.876l29.79-19.86c-17.188-24.545-28.708-53.362-32.696-84.577H96v-18H66.115c-.07-2.14-.115-4.284-.115-6.44 0-45.378 15.816-86.97 42.236-119.598l17.4 17.4 12.727-12.727-18.133-18.132C152.735 114.057 197.335 92.8 247 90.498v29.22h18V90.5c49.665 2.302 94.265 23.56 126.77 56.725l-18.133 18.132 12.726 12.727 17.4-17.4c26.42 32.63 42.237 74.22 42.237 119.6 0 2.154-.044 4.3-.115 6.437H416v18h28.44c-3.987 31.214-15.507 60.03-32.694 84.575l29.79 19.86C467.025 372.574 482 328.146 482 280.282c0-124.602-101.397-226-226-226zm15.83 66.23a144 160 0 0 1 74.608 100.062l49.966-17.568a160 160 0 0 0-4.3-7.012l-5.135 5.153-30.368-30.29-5.76-5.746 7.85-7.874a160 160 0 0 0-86.862-36.726zm156.15 89.844l-175.332 60.6C240.505 272.618 231 283.155 231 295.72c0 13.7 11.3 25 25 25 6.77 0 12.95-2.764 17.473-7.208L427.98 210.354zm-16.513 32.322l-60.713 40.72a144 160 0 0 1-56.6 108.323h76.057a160 160 0 0 0 39.763-68.572H398.48v-52.515h17.022a160 160 0 0 0-4.035-27.957zM128 421.72v36h256v-36H128z">
                </path>
            </svg>
        </li>
        <li>SSBM
            <svg role="img" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 256 256">
                <path
                    d="m 128,38.17189 c -3.96774,0 -7.88276,0.26235 -11.71455,0.76112 l 0,107.94597 99.54061,0 c 1.29999,-6.08286 1.98552,-12.39119 1.98552,-18.86242 0,-49.6066 -40.20496,-89.84467 -89.81158,-89.84467 z m -57.282183,20.61629 c -19.888889,16.47529 -32.529397,41.38427 -32.529397,69.22838 0,6.46737 0.689185,12.78339 1.985518,18.86242 l 30.543879,0 0,-88.0908 z M 45.865755,164.45081 c 5.665734,12.76396 14.229794,23.96191 24.852062,32.76104 l 0,-32.76104 -24.852062,0 z m 70.419695,0 0,52.61621 c 3.83198,0.4988 7.7466,0.7611 11.71455,0.7611 36.63278,0 68.12716,-21.93201 82.10115,-53.37731 l -93.8157,0 z" />
            </svg>
        </li>
    </ul>
</section>

<style>
    svg {
        fill: var(--color-text);
        max-width: 4rem;
    }
</style>