<div class="links">
  <input class="chk" type="checkbox" />
  <div id="menuToggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="menu">
    <a href="/">
      <svg version="1.1" id="home" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330.242 330.242" xml:space="preserve">
        <path d="M324.442,129.811l-41.321-33.677V42.275c0-6.065-4.935-11-11-11h-26c-6.065,0-11,4.935-11,11v14.737l-55.213-44.999
         c-3.994-3.254-9.258-5.047-14.822-5.047c-5.542,0-10.781,1.782-14.753,5.019L5.8,129.81c-6.567,5.351-6.173,10.012-5.354,12.314
         c0.817,2.297,3.448,6.151,11.884,6.151h19.791v154.947c0,11.058,8.972,20.053,20,20.053h62.5c10.935,0,19.5-8.809,19.5-20.053
         v-63.541c0-5.446,5.005-10.405,10.5-10.405h42c5.238,0,9.5,4.668,9.5,10.405v63.541c0,10.87,9.388,20.053,20.5,20.053h61.5
         c11.028,0,20-8.996,20-20.053V148.275h19.791c8.436,0,11.066-3.854,11.884-6.151C330.615,139.822,331.009,135.161,324.442,129.811z"></path>
      </svg>
      Home
    </a>
    <a href="https://www.linkedin.com/in/jake-surrett-6a5755147">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <polygon points="320,12.499 320,127.998 435.499,127.998 			"></polygon>
        <path d="M298.667,170.667c-11.797,0-21.333-9.536-21.333-21.333V0h-192C73.536,0,64,9.536,64,21.333v469.333
          C64,502.464,73.536,512,85.333,512h341.333c11.797,0,21.333-9.536,21.333-21.333v-320H298.667z M192,85.333
          c11.776,0,21.333,9.557,21.333,21.333S203.776,128,192,128s-21.333-9.557-21.333-21.333S180.224,85.333,192,85.333z M192,149.333
          c23.573,0,42.667,25.003,42.667,42.667h-85.333C149.333,174.336,168.427,149.333,192,149.333z M149.333,256h85.333
          c11.797,0,21.333,9.536,21.333,21.333c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333
          C128,265.536,137.536,256,149.333,256z M383.232,368.341c-9.685,48.491-86.784,45.419-126.101,22.443
          c-37.013,25.408-103.595,20.16-126.208-17.344c-14.251-23.595,22.677-45.035,36.821-21.547c9.536,15.787,59.648,16.107,69.845,0
          c6.699-10.603,24.384-15.403,33.493-4.309c7.381,8.981,67.008,29.483,71.019,9.408
          C347.477,330.048,388.587,341.525,383.232,368.341z M362.667,298.667H320c-11.797,0-21.333-9.536-21.333-21.333
          c0-11.797,9.536-21.333,21.333-21.333h42.667c11.797,0,21.333,9.536,21.333,21.333C384,289.131,374.464,298.667,362.667,298.667z
          "></path>
      </svg>
      Portfolio
    </a>
    <a href="/games">
      <svg version="1.1" id="games" xmlns="http://www.w3.org/2000/svg" style="transform: scaleX(-1);" viewBox="0 0 512.001 512.001">
        <path d="M490.667,384h-23.488c-9.92-48.619-53.013-85.333-104.512-85.333h-8.149l43.072-86.123
        c2.603,0.192,5.099,0.789,7.744,0.789c58.816,0,106.667-47.851,106.667-106.667C512,47.852,464.149,0,405.333,0
        S298.666,47.852,298.666,106.667c0,40.853,23.36,76.011,57.195,93.931l-49.045,98.069H256V256
        c0-11.776-9.536-21.333-21.333-21.333H128c-11.797,0-21.333,9.557-21.333,21.333v51.712C75.349,321.451,51.819,349.717,44.821,384
        H21.333C9.536,384,0,393.557,0,405.333v85.333C0,502.443,9.536,512,21.333,512h469.333c11.797,0,21.333-9.557,21.333-21.333
        v-85.333C512,393.557,502.464,384,490.667,384z"></path>
      </svg>
      Games
    </a>
    <a href="/contact">
      <svg version="1.1" id="contact" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <polygon points="0,96.791 0,422.722 147.691,229.591 			"></polygon>
        <polygon points="364.309,229.572 512,422.724 512,96.794 			"></polygon>
        <path d="M281.122,246.997L484.663,64H27.341l203.435,182.912C245.197,260.011,266.807,260.011,281.122,246.997z"></path>
        <path d="M309.73,278.635c-15.275,13.909-34.475,20.864-53.696,20.864c-19.243,0-38.507-6.976-53.867-20.949l-22.635-20.352
          L34.381,448h443.243L332.471,258.197L309.73,278.635z"></path>
      </svg>
      Contact
    </a>
    <a href="/lab">
      <svg id="lab" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.34 0a.5.5 0 0 0 .16 1h.5v1.41c-.09.17-1.2 2.31-1.66 3.09-.16.26-.34.61-.34 1.06 0 .39.15.77.41 1.03s.64.41 1.03.41h5.13c.38 0 .74-.16 1-.41h.03c.26-.26.41-.64.41-1.03 0-.45-.19-.8-.34-1.06-.46-.78-1.57-2.92-1.66-3.09v-1.41h.5a.5.5 0 1 0 0-1h-5a.5.5 0 0 0-.09 0 .5.5 0 0 0-.06 0zm1.66 1h2v1.63l.06.09s.63 1.23 1.19 2.28h-4.5c.56-1.05 1.19-2.28 1.19-2.28l.06-.09v-1.63z"></path>
      </svg>
      Lab
    </a>
  </nav>
</div>

<style>
  .links {
    isolation: isolate;
  }
  .menu {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    top: 3rem;
    left: 0rem;
    border-radius: 0 0 0.5rem;
    box-shadow: max(150vh, 150vw) max(150vh, 150vw) 0 max(150vh, 150vw) rgba(0, 0, 0, 0.5);
  }

  svg {
    min-width: 1rem;
    min-height: 1rem;
    max-width: 1.25rem;
    max-height: 1.25rem;
    fill: var(--color-text);
  }

  .chk {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    cursor: pointer;
    scale: 3;
    opacity: 0;
    z-index: 3;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    z-index: -1;
  }

  #menuToggle span {
    display: flex;
    width: 1.75rem;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: var(--color-text);
    border-radius: 3px;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    z-index: 5;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .chk:hover + #menuToggle span {
    background: var(--color-accent);
  }

  .chk:checked + #menuToggle span:nth-child(1) {
    opacity: 1;
    transform: translateY(-2px) rotate(45deg) translate(0.15rem);
  }

  .chk:checked + #menuToggle span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .chk:checked + #menuToggle span:nth-child(3) {
    transform: translateY(-2px) rotate(-45deg) translate(-0.15rem);
  }

  .chk:checked ~ .menu {
    display: flex;
    background-color: var(--color-bg-alt);
  }

  a {
    display: flex;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: var(--color-text);
    cursor: pointer;
    gap: 0.5rem;
    border: 1px solid var(--color-text);
  }

  a:hover {
    color: var(--color-accent);
  }

  a:hover svg {
    fill: var(--color-accent);
  }
</style>
