---
import Page from "../../layouts/Page.astro";
---

<Page title="Balloon Pop">
    <div class="wrap">
        <div id="pencil"><img src="/" alt="pencil" /></div>
    </div>
    <template id="bt">
        <div id="balloon">
            <img src="/" alt="balloon" />
        </div>
    </template>
</Page>
