---
import Page from "../../../layouts/Page.astro";
---

<Page title="LatenSee Control">
    <div class="wrap">
        <h1>Nginx Control Latency</h1>
        <h3>Nothing to see here</h3>
    </div>
</Page>

<style>
    .wrap {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
    }

    .list {
        padding: 1rem;
        display: grid;
        gap: 1rem;
    }
</style>
