<!-- Portfolio Experience Section -->
<details>
    <summary aria-labelledby="exp-title">
        <h2 id="exp-title">Experience</h2>
        <p>
            Here's a sampling of my experiences over 2+ years of software
            development.
        </p>
    </summary>
    <h3>
        Software Dev Coop Remote - <a
            href="https://www.viavisolutions.com/en-us"
            >Viavi Solutions
        </a> Jan - Sep 2020
    </h3>

    <p>
        Updated and extended a legacy internal utility to release a client
        facing .net desktop application to remotely manage and update product
        systems
    </p>
    <p>
        Implemented a deployment pipeline to streamline releases and catch any
        potential regressions prior to clients getting hands on
    </p>
    <p>
        Developed a .Net api service to generate product keys, redeemed by
        customers in another team's application, unlocking uses of a premium
        feature
    </p>

    <h3>
        Software Dev Coop - <a href="https://www.titus.com/">Titus</a> Jan - Sep
        2020
    </h3>

    <p>
        Worked in Microsoft Visual Studio for front-end development that was
        based in C# utilizing XAML for the UI
    </p>
    <p>
        Collaborated with the QA team to ensure bug fixes and new feature were
        correct and adhering to accessibility, performance, and design
        guidelines
    </p>
    <p>
        Participated in daily stand-ups as well as weekly agile retrospective
        and feature planning sessions
    </p>
    <p>
        Documented the onboarding and dev environment setup process to assist
        new hires to get up to speed with the project more easily
    </p>

    <h3>
        Application Dev Coop - <a href="https://www.statcan.gc.ca/en/start"
            >Statistics Canada
        </a> May - Dec 2018
    </h3>

    <p>
        Collaborated with product manager to resolve bugs and deliver features
        inline with client requirement use cases for a full-stack intranet
        application with a C#/.Net WPF frontend and an Oracle PL/SQL backend
    </p>
    <p>
        Investigated and resolved a performance issue causing freezing and
        unacceptable page load-times occurring exclusively in production
    </p>
    <p>
        Participated in a team hackathon based on the analysis of data
        surrounding a trade event using business intelligence tools new to the
        organization, ultimately being selected as the winning team of the event
    </p>

    <h3>
        Intern - <a href="https://www.viavisolutions.com/en-us"
            >Viavi Solutions
        </a> May - Sep 2017 & Jan - Sep 2019
    </h3>

    <p>
        Prototyped in Java an interactive software manual displaying
        documentation information on selected commands and facilitating users to
        send the commands with different parameters to their product devices via
        TCP/IP connections.
    </p>
    <p>
        Built an inventory database and management program for keeping track of
        demo equipment using Microsoft Access and implemented multi-user
        functionality via SharePoint.
    </p>
    <p>
        Leveraged a Java based visualization library to create an application to
        view and edit a 3D representation of light wave polarization
        facilitating team members to rapidly produce diagrams used for technical
        documentation.
    </p>
    <p>
        Developed, documented, and tested part a Python API that interfaces with
        hardware system products via an existing DLL Collected and analyzed
        measurements on a fiber-optic testing system in a lab environment to
        ensure system accuracy and stability after custom software and firmware
        features were added for a customer
    </p>
    <p>
        Collaborated with the Validation and Verification team to test software
        and firmware releases in order to meet a hardware release window
    </p>
</details>

<style>
    @media (min-width: 426px) {
        p {
            padding-left: 1rem;
        }
    }
</style>
