<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
    <div class="card">
      <img src="/imgs/qr.png" alt="qr code" />
    </div>
  </body>
</html>

<style>
  body {
    font-family: system-ui, sans-serif;
    display: grid;
    grid-template-columns: 3.375in 3.375in;
    gap: 1ch;
  }

  .card {
    display: flex;
    align-self: center;
    width: 3.375in;
    height: 2.125in;
    background-color: white;
    color: black;
    border-radius: 0.15in;
    border: 2px solid black;
    /* box-shadow: 0.1in 0.1in 0.25in 0 black; */
  }

  img {
    object-fit: contain;
  }
</style>
