<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
    <div class="card">
      <h2>Tap NFC or Scan QR <span>⤿</span></h2>
      <ul>
        <li class="name">Jake Surrett</li>
        <li class="exp">2+ years co-op experience</li>
        <li class="edu">Computer Engineering</li>
        <li class="bzbl">Coachable Team Player</li>
        <li class="site">www.jakesite.ca</li>
      </ul>
    </div>
  </body>
</html>

<style>
  body {
    font-family: system-ui, sans-serif;
    display: grid;
    grid-template-columns: 3.375in 3.375in;
    gap: 1ch;
  }

  .card {
    align-self: center;
    width: 3.375in;
    height: 2.125in;
    background-color: white;
    color: black;
    border-radius: 0.15in;
    border: 2px solid black;
    /* box-shadow: 0.1in 0.1in 0.25in 0 black; */
  }

  h2 {
    text-align: center;
    margin-bottom: 1ch;
  }

  span {
    display: inline-block;
    transform: rotate(0.5turn);
  }

  ul {
    margin-top: 1ch;
    margin-left: 2ch;
  }

  li {
    padding-inline-start: 1ch;
    font-size: large;
    font-weight: 500;
  }

  .name {
    list-style-type: "👤";
  }
  .exp {
    list-style-type: "⏳";
  }
  .edu {
    list-style-type: "📚";
  }
  .bzbl {
    list-style-type: "⚾";
  }
  .site {
    list-style-type: "🌐";
  }
</style>
