---
import Page from "../../../layouts/Page.astro";
---

<Page title="Zig WASM">
    <div class="wrap">
        <canvas> Your browser does not support the HTML5 canvas element. </canvas>
    </div>
</Page>

<script>
    WebAssembly.instantiateStreaming(fetch("/wasm/plus.wasm"), {
        env: {
            print(arg) {
                console.log("Zig add(1,2):", arg);
            },
        },
    }).then((mod) => {
        const add = mod.instance.exports.add as CallableFunction;
        add(1, 2);
    });
</script>
