---
import Page from "../../../layouts/Page.astro";

const card_games = await Astro.glob("./*.astro");
---

<Page title="Card Games">
  <div class="wrap">
    <h1>Card Games</h1>
    <div class="deck">
      {
        card_games.map((game) => (
          <a href={game.url}>
            <div class="card">{game.file.slice(game.file.lastIndexOf("/") + 1, game.file.lastIndexOf("."))}</div>
          </a>
        ))
      }
    </div>
  </div>
</Page>

<style>
  .wrap {
    padding: 2rem;
  }

  .deck {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    aspect-ratio: 5 / 7;
    border-radius: 0.75rem;
    list-style: none;
    background-image: url("/assets/cards/backs/green.svg");
    border: var(--color-text) solid 0.5rem;
  }

  .card:hover {
    background-color: #fff2;
  }
</style>
