---
import Page from "../../layouts/Page.astro";
---

<Page title="Bounce">
  <div id="wrap">
    <div id="crt">
      <canvas id="canvas" width="600" height="400"> </canvas>
    </div>
    <div id="pause">&#x23F8</div>
    <div id="play">&#x23F5</div>
  </div>
  <h3 id="bounces"></h3>
  <p>Note: click/tap to pause</p>
</Page>
<script>
  const canvas = document.getElementById("canvas") as HTMLCanvasElement;
  const play = document.getElementById("play");
  const bounces = document.getElementById("bounces");
  const ctx = canvas.getContext("2d", { alpha: false });
  const wrap = document.getElementById("wrap") as HTMLDivElement;

  function glow() {
    const hue_glow = Math.max(state.bounces - 15, 0) % 361;
    wrap.style.setProperty("--glow", `hsl(${hue_glow} 42% 42%)`);

    const hue_bg = Math.max(state.bounces - 90, 0) % 361;
    wrap.style.setProperty("--bg", `hsl(${hue_bg} 100% 4%)`);
  }

  let state = {
    running: true,
    x: 0,
    y: 0,
    dx: 3,
    dy: -3,
    bounces: 0,
    color: "hsl(0 100% 70%)",
    frame: 0,
  };

  function init() {
    if (!ctx) {
      console.error("Canavas not supported :(");
      return;
    }
    const dpr = window.devicePixelRatio;
    const rect = canvas.getBoundingClientRect();
    canvas.width = rect.width * dpr;
    canvas.height = rect.height * dpr;
    ctx.scale(dpr, dpr);
    state.x = canvas.width / 2;
    state.y = canvas.height / 2;

    canvas.addEventListener("click", (ev) => {
      if (state.running) {
        pause();
      } else {
        nextFrame();
      }
    });

    play.addEventListener("click", (ev) => {
      if (state.running) {
        pause();
      } else {
        nextFrame();
      }
    });

    ctx.fillStyle = "#000808";
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    nextFrame();
  }

  function nextFrame() {
    // console.log("next");
    state.running = true;
    canvas.classList.remove("paused");
    state.frame = window.requestAnimationFrame(draw);
  }

  function pause() {
    console.log("pause");
    state.running = false;
    canvas.classList.add("paused");
    window.cancelAnimationFrame(state.frame);
  }

  function draw() {
    const r = 10;
    // ctx.fillStyle = "#0000";
    // ctx.fillRect(0, 0, canvas.width, canvas.height);
    drawBall(r);
    glow();
    // console.log(state);
    state.x += state.dx;
    state.y += state.dy;

    if (state.y + state.dy >= canvas.height - r || state.y + state.dy < r) {
      state.dy *= -1;
      state.bounces += 1;
    }

    if (state.x + state.dx >= canvas.width - r || state.x + state.dx < r) {
      state.dx *= -1;
      state.bounces += 1;
      console.log("bounce");
      console.log(state);
      console.log(canvas.width, canvas.height);
    }

    bounces.innerText = `Bounces: ${state.bounces}`;
    state.color = `hsl(${state.bounces % 361} 100% 69%)`;

    nextFrame();
  }

  function drawBall(r: number = 10) {
    ctx.beginPath();
    ctx.arc(state.x, state.y, r, 0, Math.PI * 2);
    ctx.fillStyle = state.color;
    ctx.fill();
    ctx.closePath();
  }

  init();
</script>
<style>
  #crt {
    margin: 0 auto;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 30px 60px #000;
    background-color: #000808;
  }

  #wrap {
    --glow: #001a1a;
    --bg: #000808;
    position: relative;
    display: grid;
    padding: 5rem;
    background: radial-gradient(circle at 50% 50%, var(--glow), var(--bg));
  }

  #play,
  #pause {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    padding: 0.5rem 0.4rem 0.69rem 0.4rem; /* top right bottom left */
    user-select: none;
  }

  #wrap:active #play,
  #wrap:active #pause {
    color: aqua;
  }

  #wrap:hover #play {
    opacity: 0;
  }

  #wrap:hover #pause {
    opacity: 0.69;
  }

  #wrap:hover #canvas.paused ~ #play {
    opacity: 0.69;
  }

  #wrap:hover #canvas.paused ~ #pause {
    opacity: 0;
  }
</style>
