---
import Card from "../../components/Card.astro";
import Page from "../../layouts/Page.astro";
---

<Page title="Lab">
  <h1>Welcome to the <span class="text-gradient">Lab</span></h1>
  <section>
    <h3>Under Development</h3>
    <ul role="list" class="link-card-grid">
      <Card href="/models" title="3D" body="Messing with graphics in the 3rd dimension." />
      <Card href="/lab/shoes" title="Shoes" body="Mix your own custom colorway on this pair of Nikes." />
    </ul>
  </section>
  <section>
    <h3>Back Burner</h3>
    <ul role="list" class="link-card-grid">
      <Card href="/lab/bounce" title="Bounce" body="DVD screen-saver inspired digital art drawn with html canvas." />
      <Card href="/lab/photo-label" title="Photo Label" body="Add text to a photo." />
      <Card href="/lab/hover" title="Hover" body="Nice to look at." />
      <Card href="/lab/hi" title="Hi" body="Hey." />
    </ul>
  </section>
  <section>
    <h3>PWA Testing</h3>
    <ul role="list" class="link-card-grid">
      <Card href="/lab/pwa" title="A" body="PWA Test App A." />
      <Card href="/lab/pwb" title="B" body="PWA Test App B." />

      <!-- <Card href="/games/minecraft" title="Games" body="Explore a voxel world in minecraft js edition." />
        <Card href="/games/2048" title="Contact" body="Stack and combine matching tiles to reach 2048." />
        <Card href="./blog" title="Blog" body="An attempt to make permanent learning progress." /> -->
    </ul>
  </section>
</Page>

<style>
  :root {
    --color-gradient: linear-gradient(0deg, red, orange);
  }

  h1,
  section {
    margin: 1rem;
    /* background-color: aquamarine; */
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: white;
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
