---
import Page from "../../layouts/Page.astro";
---

<Page title="m3d">
    <div>
        <img src="/3d/cube_normals.m3d" width="300" height="300" />
        <img src="/3d/cube.m3d" width="300" height="300" />
        <img src="/3d/bat.m3d" width="300" height="300" />
    </div>
</Page>

<script is:inline src="/3d/m3d.min.js"></script>
