---
import Card from "../../components/Card.astro";
import Page from "../../layouts/Page.astro";
---

<Page title="Tools">
	<div class="wrap">
		<h3>Dev</h3>
		<ul role="list" class="link-card-grid">
			<Card
				href="/tools/coin"
				title="Coin Flip"
				body="Let chance take the wheel."
			/>
			<Card
				href="/tools/photo-pin"
				title="Photo Pin"
				body="Add text pins to a photo."
			/>
			<Card
				href="/tools/qr"
				title="QR Code"
				body="Generate a QR code that points to a link."
			/>
			<Card
				href="/tools/svg2png"
				title="SVG to PNG"
				body="Convert a vector graphic into to a photo."
			/>
		</ul>
	</div>

	<style>
		.wrap {
			margin: 0 auto;
		}

		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 20rem));
			gap: 1rem;
		}
	</style>
</Page>
