---
import LinkCard from "../../components/LinkCard.astro";
import Page from "../../layouts/Page.astro";
---

<Page title="Tools">
	<div class="cards">
		<LinkCard href="/tools/photo-pin" title="Photo Pin" body="Add text pins to a photo." />
		<LinkCard href="/apps/jdo" title="JDo" body="Stay on track with this todo app." />
		<LinkCard href="/tools/nfc" title="NFC" body="Write links to NFC tags with ease." />
		<LinkCard href="/tools/qr" title="QR Code" body="Generate a QR code that points to a link." />
		<!-- <LinkCard
			href="/tools/go-impl"
			title="Go Impl"
			body="A VS Code extension to list interfaces for each struct."
		/> -->
	</div>

	<style>
		.cards {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
			gap: min(2rem, 8vw);
			padding: min(2rem, 4vw);
		}
	</style>
</Page>
