---
import Card from "../../components/Card.astro";
import Page from "../../layouts/Page.astro";
---

<Page title="Tools">
	<div>
		<h3>Dev</h3>
		<ul role="list" class="link-card-grid">
			<Card
				href="/tools/photo-pin"
				title="Photo Pin"
				body="Add text pins to a photo."
			/>
			<Card
				href="/tools/qr"
				title="QR Code"
				body="Generate a QR code that points to a link."
			/>
		</ul>
	</div>

	<style>
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 1rem;
			padding: 0;
		}
	</style>
</Page>
