---
import Card from "../../components/Card.astro";
import Page from "../../layouts/Page.astro";
---

<Page title="Tools">
  <div>
    <h3>Work</h3>
    <ul role="list" class="link-card-grid">
      <Card href="/tools/qr" title="QR Code" body="Generate a QR code that points to a link." />
      <Card href="/tools/" title="Contact" body="Feel free to reach out." />
    </ul>
  </div>
  <div>
    <h3>Play</h3>
    <ul role="list" class="link-card-grid">
      <Card href="/tools/" title="Games" body="Play a round or two... or ten." />
      <Card href="/tools/" title="Consoles" body="Fun to look at and maybe interact with." />
    </ul>
  </div>
</Page>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
