---
import Page from "../../layouts/Page.astro";
---

<Page title="Photo Pin Tool">
    <div class="ui">
        <div class="flex">
            <!-- <label for="pick">Select Photo</label> -->
            <input id="pick" type="file" accept="image/*" />
            <button id="download" disabled>Download / Export</button>
        </div>
        <canvas id="canvas" width="600" height="400"></canvas>
    </div>
    <style>
        .flex {
            display: flex;
            gap: 1rem;
        }

        .wrap {
            display: flex;
            /* justify-content: center; */
            gap: 2rem;
        }

        .ui {
            display: grid;
            gap: 1rem;
            margin: 0 auto;
        }

        .ui img {
            max-width: 2rem;
            max-height: 2rem;
        }

        #canvas {
            border: 1px solid #ffffff;
        }
    </style>

    <script>
        function init() {
            console.log("init");
            const canvas = document.getElementById(
                "canvas",
            ) as HTMLCanvasElement;
            const ctx = canvas.getContext("2d") as CanvasRenderingContext2D;
            const download = document.getElementById(
                "download",
            ) as HTMLButtonElement;
            download.onclick = () => {
                const link = document.createElement("a");
                link.download = name;
                link.href = canvas.toDataURL();
                link.click();
            };

            const pick = document.getElementById("pick") as HTMLInputElement;
            const photo = new Image();
            let name = "";

            pick.addEventListener("change", (e) => {
                const picker = e.target as HTMLInputElement;

                if (!picker.files || picker.files.length < 1) {
                    alert("No image files selected.");
                    return;
                }

                if (picker.files.length > 1) {
                    alert("One image file at a time.");
                    return;
                }
                const file = picker.files[0];
                const url = URL.createObjectURL(file);
                photo.src = url;
                photo.onload = () => {
                    name = file.name.slice(0, -3) + "png";
                    download.disabled = false;

                    const { width, height } = photo;
                    ctx.canvas.width = width;
                    ctx.canvas.height = height;
                    canvas.style.width = width + "px";
                    canvas.style.height = height + "px";
                    draw();
                };
            });

            function draw() {
                // wipe canvas
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                // draw user image
                // console.log(photo.src);
                if (photo.src) {
                    ctx.drawImage(photo, 0, 0);
                }
            }

            window.addEventListener("beforeunload", (e) => {
                if (photo.src !== null) return;
                e.preventDefault();
                e.returnValue = "";
                alert("Are you sure you want to leave without converting?");
            });
        }

        init();

        // Runs immediately after the new page replaces the old page
        document.addEventListener("astro:after-swap", init);
    </script>
</Page>
