---
import Page from "../../../layouts/Page.astro";
---

<Page title="Photo Pin Tool">
	<div class="ui">
		<div class="btns">
			<div class="flex">
				<button id="open">Open</button>
				<button id="save" disabled>Save</button>
				<button id="help">&#x1f4a1;</button>
				<label for="sizes">Pin Size</label>
				<select name="sizes" id="sizes">
					<option value="1" label="S"></option>
					<option value="1.36" label="M"></option>
					<option value="1.69" label="L" selected></option>
					<option value="2" label="XL"></option>
				</select>
			</div>
		</div>
		<canvas id="pcanvas" width="600" height="100"></canvas>
		<canvas id="canvas" width="600" height="300"></canvas>
	</div>

	<div id="edit" class="flex">
		<div class="stack">
			<label for="pinColor">Body</label>
			<input id="pinColor" type="color" value="#7711BB" />
		</div>

		<div class="stack">
			<label for="sides">Side</label>
			<select name="sides" id="sides">
				<option value="bottom">Bottom</option>
				<option value="left">Left</option>
				<option value="top">Top</option>
				<option value="right">Right</option>
			</select>
		</div>

		<div class="stack">
			<label for="icons">Icon</label>
			<select name="icons" id="icons">
				<optgroup label="Outline">
					<option value="/assets/pins/outlined/dot.svg" label="Dot"></option>
					<option value="/assets/pins/outlined/heart.svg" label="Heart"></option>
					<option value="/assets/pins/outlined/home.svg" label="Home"></option>
					<option value="/assets/pins/outlined/road.svg" label="Road"></option>
					<option value="/assets/pins/outlined/star.svg" label="Star"></option>
				</optgroup>
				<optgroup label="Filled">
					<option value="/assets/pins/filled/dot.svg" label="Dot"></option>
					<option value="/assets/pins/filled/heart.svg" label="Heart"></option>
					<option value="/assets/pins/filled/home.svg" label="Home"></option>
					<option value="/assets/pins/filled/road.svg" label="Road"></option>
					<option value="/assets/pins/filled/star.svg" label="Star"></option>
				</optgroup>
			</select>
		</div>
		<div class="stack">
			<label for="txtColor">Color</label>
			<input id="txtColor" type="color" value="#FFFFFF" />
		</div>
		<div class="stack">
			<label for="pinText">Text</label>
			<input id="pinText" type="text" value="Pin Text" />
		</div>
	</div>

	<dialog id="hi-menu">
		<h1>Welcome 👋</h1>
		<ol>
			<li><strong> Open</strong> your photo.</li>
			<li><strong> Drag</strong> your pins.</li>
			<li><strong> Click</strong> to customize.</li>
			<li><strong> Save</strong> your creation!</li>
		</ol>
		<form method="dialog">
			<div class="fit">
				<input id="again" type="checkbox" />
				<label for="again">Don't show this again.</label>
			</div>
			<button type="submit">Ready</button>
		</form>
	</dialog>
	<dialog id="open-menu">
		<h1>Open Photo 📷</h1>
		<p>Let's pick an image!</p>
		<form method="dialog">
			<input id="pick" type="file" accept="image/*" />
			<button id="btnStart" disabled>Ready</button>
		</form>
	</dialog>
	<dialog id="help-menu">
		<h1>Hints &#x1f4a1;</h1>
		<div class="tip">
			<strong>Save As:</strong>
			<ol>
				<li><strong>Right-Click</strong> your image</li>
				<li><strong>Choose</strong> "Save Image As"</li>
			</ol>
		</div>
		<div class="tip">
			<strong>Zoom:</strong>
			<ol>
				<li><strong>Hold</strong> down <strong><i> ctrl </i></strong> key</li>
				<li><strong>Scroll</strong> to <strong>zoom</strong></li>
			</ol>
		</div>
		<form method="dialog">
			<button type="submit">Got it</button>
		</form>
	</dialog>
	<dialog id="save-menu">
		<div class="flex apart">
			<h1>Preview 🔍</h1>
			<button id="btnEsc">🗙</button>
		</div>
		<form method="dialog">
			<img loading="lazy" id="review" />
			<div class="flex apart">
				<button type="submit" value="back">Back</button>
				<button type="submit" value="save">Save ✅</button>
			</div>
		</form>
	</dialog>

	<style>
		#btnEsc {
			font-size: x-large;
			padding: 0.5rem;
			border: none;
			background-color: transparent;
			opacity: 0.5;
			cursor: pointer;
			align-self: start;
		}

		#btnEsc:hover {
			opacity: 0.8;
		}

		dialog {
			font-size: x-large;
			line-height: 1.75em;
			padding: 2rem;
			padding-top: 1rem;
			max-width: 60ch;
		}

		dialog[open]::backdrop {
			backdrop-filter: blur(1rem) brightness(0.9);
		}

		dialog > form {
			display: grid;
			gap: 1rem;
			padding-top: 1rem;
		}

		#hi-menu > form {
			display: flex;
			padding-top: 0rem;
			justify-content: space-between;
			align-items: flex-end;
		}

		#again + label {
			opacity: 0.8;
			font-size: medium;
		}

		dialog > ol {
			display: grid;
			gap: 1rem;
			padding-bottom: 0.5rem;
		}

		dialog button {
			justify-self: right;
			padding: 0.5rem 1rem;
		}

		.tip {
			padding: 1rem;
			border: 1px solid #8882;
			border-radius: 0.25rem;
		}

		.tip ol {
			margin: 0.5rem;
		}

		#preview {
			padding: 1rem;
		}

		#edit {
			display: none;
			position: absolute;
			z-index: 99;
			background-color: #8882;
			border-radius: 0.25rem;
			padding: 1rem;
			backdrop-filter: blur(1rem);
		}
		#edit.show {
			display: flex;
		}

		#ppin {
			user-select: none;
			cursor: grab;
			padding: 0.5rem;
			background-color: #22aaaa;
			align-items: center;
			border-radius: 0.25rem;
		}

		#ppin img {
			max-width: 1.5rem;
			max-height: 1.5rem;
			z-index: 99;
		}

		.fit {
			margin: 0;
			padding: 0;
		}

		.stack {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.flex {
			display: flex;
			gap: 1rem;
			align-items: center;
		}

		.apart {
			justify-content: space-between;
		}

		.btns {
			font-size: x-large;
			display: flex;
			gap: 1.25rem;
			justify-content: space-between;
		}

		.wrap {
			display: flex;
			/* justify-content: center; */
			gap: 2rem;
		}

		.pin {
			align-items: center;
		}

		.pin svg {
			height: 2rem;
		}

		.ui {
			display: grid;
			gap: 1rem;
			margin: 0 auto;
			padding: 2rem;
		}

		.ui img {
			max-width: 2rem;
			max-height: 2rem;
		}

		#pcanvas {
			border: 1px solid #8882;
		}

		#canvas {
			margin-top: -1rem;
			border: 1px solid #8882;
		}

		#pick {
			cursor: pointer;
		}

		#review {
			/* aspect-ratio: 1; */
			max-width: 100%;
			border: solid #8882;
			border-radius: 0.25rem;
			background-image: linear-gradient(45deg, #8882, #8882 25%, transparent 25%, transparent 50%, #8882 50%, #8882 75%, transparent 75%, transparent);
		}
	</style>

	<script>
		import Pin, { type PinSide } from "./pin";

		function init() {
			const dialog_hi = document.getElementById("hi-menu") as HTMLDialogElement;
			dialog_hi.addEventListener("close", () => {
				console.log("hi dialog closed");
			});
			greet();

			function greet() {
				const showHi = localStorage.getItem("show-hi");
				if (showHi && showHi === "never") {
					console.log("show-hi:", showHi);
				} else {
					dialog_hi.showModal();
				}
			}

			const chkAgain = document.getElementById("again") as HTMLInputElement;
			chkAgain.addEventListener("change", (e) => {
				const show = chkAgain.checked ? "never" : "yes";
				// console.log("checked:", chkAgain.checked, show);
				localStorage.setItem("show-hi", show);
			});

			const dialog_open = document.getElementById("open-menu") as HTMLDialogElement;
			dialog_open.addEventListener("close", () => {
				console.log("help dialog closed");
			});

			const dialog_help = document.getElementById("help-menu") as HTMLDialogElement;
			dialog_help.addEventListener("close", () => {
				console.log("help dialog closed");
			});

			const dialog_save = document.getElementById("save-menu") as HTMLDialogElement;
			dialog_save.addEventListener("close", () => {
				console.log("save dialog closed:", dialog_save.returnValue);
				if (dialog_save.returnValue === "save") {
					quicksave();
				}
			});
			// dialog_help.showModal();

			const btnEsc = document.getElementById("btnEsc") as HTMLButtonElement;
			btnEsc.addEventListener("click", () => {
				dialog_save.close();
			});

			// "Close" button closes the dialog
			const btnStart = document.getElementById("btnStart") as HTMLButtonElement;
			btnStart.addEventListener("click", () => {
				console.log("start clicked");
				state.placed = [] as Pin[];
				state.held = null;
				hideEdit();
				draw();
			});

			const pcanvas = document.getElementById("pcanvas") as HTMLCanvasElement;
			const pctx = pcanvas.getContext("2d") as CanvasRenderingContext2D;
			const canvas = document.getElementById("canvas") as HTMLCanvasElement;
			const ctx = canvas.getContext("2d") as CanvasRenderingContext2D;

			document.onkeyup = (e) => {
				if (e.ctrlKey && e.key === "s") {
					quicksave();
				}
			};

			const open = document.getElementById("open") as HTMLButtonElement;
			open.onclick = () => {
				dialog_open.showModal();
			};

			function quicksave() {
				const link = document.createElement("a");
				link.download = filename;
				link.href = canvas.toDataURL("image/jpeg", 1.0);
				link.click();
			}

			const review = document.getElementById("review") as HTMLImageElement;
			const save = document.getElementById("save") as HTMLButtonElement;
			save.onclick = () => {
				review.style.width = canvas.width + "px";
				review.style.aspectRatio = canvas.width / canvas.height + "";
				dialog_save.showModal();
				setTimeout(() => {
					review.style.backgroundImage = "none";
					review.src = canvas.toDataURL("image/jpeg", 1.0);
				}, 1);
			};
			const help = document.getElementById("help") as HTMLButtonElement;
			help.onclick = () => {
				// console.log("help");
				dialog_help.showModal();
				// console.log("help dialog opened");
			};

			const pick = document.getElementById("pick") as HTMLInputElement;
			const photo = new Image();
			let ppin = new Pin(pctx, { top: 40, left: 60, width: 100, height: 30 }, "Pin Text", "#7711BB", "#FFFFFF", "/assets/pins/outlined/dot.svg");

			function drawPreview() {
				pctx.clearRect(0, 0, pctx.canvas.width, pctx.canvas.height);
				ppin.drawPin();
				// Sconsole.log("preview drawn");
			}

			const img = new Image();
			img.src = "/assets/pins/outlined/dot.svg";
			img.onload = () => {
				console.log("icon loaded");
				drawPreview();
			};

			const sides = document.getElementById("sides") as HTMLSelectElement;

			const icons = document.getElementById("icons") as HTMLSelectElement;
			const pinColor = document.getElementById("pinColor") as HTMLInputElement;
			const txtColor = document.getElementById("txtColor") as HTMLInputElement;
			const pinText = document.getElementById("pinText") as HTMLInputElement;

			const state = {
				placed: [] as Pin[],
				held: null as Pin | null,
				edit_pin: null as Pin | null,
				canvas_hover: false,
				pcanvas_hover: false,
				edit_hover: false,
				pin_offset_x: 0,
				pin_offset_y: 0,
				scaleImg: false,
			};

			canvas.addEventListener("mouseenter", (e) => {
				// console.log("entered");
				state.canvas_hover = true;
				if (state.held) {
					ppin.move(60, 40);
					state.held = state.held.twin(ctx);
					drawPreview();
				}
			});

			pcanvas.addEventListener("mouseenter", (e) => {
				// console.log("entered");
				state.pcanvas_hover = true;
			});

			canvas.addEventListener("mouseleave", (e) => {
				state.canvas_hover = false;
				if (state.held) {
					//place_pin();
					// console.log("left canvas");
					state.held = null;
					draw();
				}
			});

			pcanvas.addEventListener("mouseleave", (e) => {
				state.pcanvas_hover = false;
			});

			document.addEventListener("mousemove", (e) => {
				if (!state.held) {
					return;
				}

				if (state.canvas_hover) {
					const cbr = canvas.getBoundingClientRect();
					const px = e.clientX - cbr.left;
					const py = e.clientY - cbr.top;
					state.held.move(px, py);
					draw();
				}

				if (state.pcanvas_hover) {
					const pcbr = pcanvas.getBoundingClientRect();
					const px = e.clientX - pcbr.left;
					const py = e.clientY - pcbr.top;
					state.held.move(px, py);
					drawPreview();
				}
			});

			canvas.addEventListener("mousedown", (e) => {
				if (!state.canvas_hover) return;
				const cbr = canvas.getBoundingClientRect();
				const px = e.clientX - cbr.left;
				const py = e.clientY - cbr.top;
				for (let i = 0; i < state.placed.length; i++) {
					const pin = state.placed[i] as Pin;
					if (pin.isMouseOver(px, py)) {
						canvas.style.cursor = "grabbing";
						state.held = pin;
						state.placed.splice(i, 1);
						hideEdit();
						return;
					}
				}
			});

			pcanvas.addEventListener("mousedown", (e) => {
				const pcbr = pcanvas.getBoundingClientRect();
				const px = e.clientX - pcbr.left;
				const py = e.clientY - pcbr.top;
				// console.log(ppin);
				if (ppin.isMouseOver(px, py)) {
					pcanvas.style.cursor = "grabbing";
					state.held = ppin;
					hideEdit();
				}
			});

			function place_pin() {
				// console.log("placing pin");
				if (!state.held) return;
				const cbr = pcanvas.getBoundingClientRect();
				const cx = state.held.x;
				const cy = state.held.y + cbr.top;
				showEdit(cx, cy);
				const pc = state.held.clone();
				state.placed.push(pc);
				setEdit(pc);
				state.held = null;
				draw();
				// console.log("pin placed");
			}

			function setEdit(pin: Pin) {
				state.edit_pin = pin;
				sides.value = pin.side;
				const idx = pin.icon.src.indexOf("/assets");
				if (idx < 0) {
					console.log("no assets");
					return;
				}
				const _src = pin.icon.src.slice(idx);
				icons.value = _src;
				pinColor.value = pin.bg;
				txtColor.value = pin.color;
				pinText.value = pin.text;
			}

			const edit = document.getElementById("edit") as HTMLElement;
			edit.addEventListener("mouseenter", (e) => {
				state.edit_hover = true;
			});
			edit.addEventListener("mouseleave", (e) => {
				state.edit_hover = false;
			});

			function showEdit(x: number, y: number) {
				edit.style.top = y + "px";
				edit.style.left = x + "px";
				edit.classList.add("show");
			}

			function hideEdit() {
				if (!edit.classList.contains("show")) return;
				edit.classList.remove("show");
				state.edit_pin = null;
			}

			document.addEventListener("mouseup", (e) => {
				canvas.style.cursor = "grab";
				pcanvas.style.cursor = "grab";

				if (!state.held) {
					if (!state.edit_hover) {
						hideEdit();
					}
					return;
				}

				if (state.canvas_hover) {
					place_pin();
				} else if (state.pcanvas_hover) {
					state.held = null;
					ppin.move(60, 40); // reset preview pin
					const pcbr = pcanvas.getBoundingClientRect();
					const px = ppin.x + pcbr.left;
					const py = ppin.y + pcbr.top;
					state.edit_pin = ppin;
					showEdit(px, py);
					drawPreview();
				}

				state.pin_offset_x = 0;
				state.pin_offset_y = 0;
			});

			sides.addEventListener("change", (e) => {
				if (!state.edit_pin) {
					// console.log("no pin");
					return;
				}
				const sel = e.target as HTMLSelectElement;
				state.edit_pin.side = sel.value as PinSide;
				drawPreview();
				draw();
				// console.log("side changed");
			});

			icons.addEventListener("change", (e) => {
				if (!state.edit_pin) {
					// console.log("no pin");
					return;
				}
				const sel = e.target as HTMLSelectElement;
				// img.src = sel.value;
				// console.log(sel.value);
				state.edit_pin.updateIcon(sel.value);
				drawPreview();
				draw();
				// console.log("icon changed");
			});

			pinColor.addEventListener("change", (e) => {
				if (!state.edit_pin) {
					// console.log("no pin");
					return;
				}
				const cInput = e.target as HTMLInputElement;
				state.edit_pin.bg = cInput.value;
				drawPreview();
				draw();
				// console.log("color changed");
			});

			txtColor.addEventListener("change", (e) => {
				if (!state.edit_pin) {
					// console.log("no pin");
					return;
				}
				const cInput = e.target as HTMLInputElement;
				state.edit_pin.color = cInput.value;
				drawPreview();
				draw();
				// console.log("text color changed");
			});

			pinText.addEventListener("change", (e) => {
				if (!state.edit_pin) {
					// console.log("no pin");
					return;
				}
				const tInput = e.target as HTMLInputElement;
				state.edit_pin.updateText(tInput.value);
				drawPreview();
				draw();
				// console.log("text changed");
			});

			const sizes = document.getElementById("sizes") as HTMLSelectElement;
			sizes.addEventListener("change", (e) => {
				const sel = e.target as HTMLSelectElement;
				Pin.scale = parseFloat(sel.value);
				drawPreview();
				draw();
				// console.log("size changed");
			});

			let filename = "";

			pick.addEventListener("change", (e) => {
				const picker = e.target as HTMLInputElement;

				if (!picker.files || picker.files.length < 1) {
					alert("No image files selected.");
					return;
				}

				if (picker.files.length > 1) {
					alert("One image file at a time.");
					return;
				}
				const file = picker.files[0];
				const url = URL.createObjectURL(file);
				photo.src = url;
				photo.onload = () => {
					filename = file.name.slice(0, -3) + "jpg";
					save.disabled = false;
					window.addEventListener("beforeunload", (e) => {
						e.preventDefault();
						e.returnValue = true;
					});
					window.addEventListener("astro:before-preparation", (e) => {
						e.preventDefault();
						e.returnValue = true;
					});
					resize(photo);
					drawPreview();
					draw();
					btnStart.disabled = false;
				};
			});

			function resize(photo: HTMLImageElement) {
				const { width, height } = photo;
				let k = 1;
				if (width < 600) {
					k = 600 / width;
				}

				ctx.canvas.width = k * width;
				ctx.canvas.height = k * height;
				pctx.canvas.width = k * width;
				pcanvas.style.width = k * width + "px";
				canvas.style.width = k * width + "px";
				canvas.style.height = k * height + "px";
			}

			function draw() {
				// wipe canvas
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				// draw user image
				if (photo.src) {
					ctx.drawImage(photo, 0, 0, ctx.canvas.width, ctx.canvas.height);
				}

				// console.log(state.placed);

				// draw placed pins
				for (let i = 0; i < state.placed.length; i++) {
					const pin = state.placed[i];
					pin.drawPin();
				}
				// draw held pin
				if (state.held) {
					// state.held.move();
					state.held.drawPin();
				}
			}
		}

		document.addEventListener("astro:page-load", init);
	</script>
</Page>
