---
import Page from "../../../layouts/Page.astro";
---

<Page title="Stack">
    <div class="wrap">
        <div class="wins">
            <div>Wins</div>
            <div>&#129353; <span>0</span></div>
            <div>&#129352; <span>0</span></div>
            <div>&#129351; <span>0</span></div>
        </div>
        <canvas id="canvas" width="290" height="514">
            <p>Canvas not supported</p>
        </canvas>

        <div class="ctls">
            &#128377;
            <kbd>touch</kbd> /
            <kbd>spacebar</kbd>
        </div>
    </div>
    <dialog id="gameOver">
        <form method="dialog">
            <div class="flex">
                <div id="bronze" class="medal empty"></div>
                <div id="silver" class="medal empty"></div>
                <div id="gold" class="medal empty"></div>
            </div>
            <p>Game Over</p>
            <button>OK</button>
        </form>
    </dialog>
</Page>

<style>
    .wrap {
        margin: 0 auto;
        padding-top: 1rem;
        display: grid;
        gap: 1rem;
        place-items: center;
    }
    .wins {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .ctls {
        margin-right: 1rem;
    }

    #canvas {
        background-color: black;
    }
    .medal {
        height: 50px;
        width: 50px;
    }

    .medal.empty {
        content: "-";
    }

    .medal.bronze {
        content: "🎗️";
    }

    .medal.silver {
        content: "🏅";
    }

    .medal.gold {
        content: "🏆";
    }
</style>

<script>
    function init_stack_game() {
        const size = 32;
        const pad = 2;
        const w = 9;
        const h = 16;
        const grid = Array.from({ length: h }, () => new Array(w).fill(false));
        const movers = [3, 4, 5];
        let y = h - 1;
        grid[y][3] = true;
        grid[y][4] = true;
        grid[y][5] = true;
        y -= 1;
        let isL = true;
        let place = false;
        let dt = 200; //152;
        let timer = 15;
        let isOff = true;

        let win = 0;

        const ON = {
            bg: "#102",
            cell: "#f02",
            grid: "#208",
            bronze: "#941",
            silver: "#999",
            gold: "#b80",
            bronzeW: "#b62",
            silverW: "#bbb",
            goldW: "#FC0",
        };

        const OFF = {
            bg: "#001",
            cell: "#300",
            grid: "#113",
            bronze: "#321",
            silver: "#444",
            gold: "#540",
            bronzeW: "#b62",
            silverW: "#aaa",
            goldW: "#d90",
        };

        let colors = isOff ? OFF : ON;

        const canvas = document.getElementById("canvas") as HTMLCanvasElement;
        const ctx = canvas.getContext("2d") as CanvasRenderingContext2D;

        document.addEventListener("keydown", (e) => {
            switch (e.key) {
                case " ":
                    e.preventDefault();
                    if (isOff) {
                        isOff = false;
                    } else {
                        place = true;
                    }
                    break;

                default:
                    break;
            }
        });

        canvas.addEventListener("touchstart", () => {
            if (isOff) {
                isOff = false;
            } else {
                place = true;
            }
        });

        const update = () => {
            if (place) {
                place = false;
                // Clear Hanging Cells
                for (let i = 0; i < w; i++) {
                    if (grid[y][i] && !grid[y + 1][i]) {
                        grid[y][i] = false;
                        movers.pop();
                        console.log(movers.length);
                        if (movers.length === 0) {
                            isOff = true;
                        }
                    }
                }
                //check bronze win
                if (y === 8 && grid[8].includes(true)) {
                    win = 1;
                }
                //check silver win
                if (y === 4 && grid[4].includes(true)) {
                    win = 2;
                }
                //check gold win
                if (y === 0 && grid[0].includes(true)) {
                    win = 3;
                }
                if (y === 0) {
                    isOff = true;
                    return;
                }
                timer -= 1;
                y -= 1;
                dt -= 8;
            }
            // Clear Mover Row
            for (let i = 0; i < w; i++) {
                grid[y][i] = false;
            }

            if (movers.at(0) === 0) {
                isL = false;
            }
            if (movers.at(-1) === w - 1) {
                isL = true;
            }
            // Move Movers
            for (let i = 0; i < movers.length; i++) {
                movers[i] += isL ? -1 : 1;
                grid[y][movers[i]] = true;
            }
        };

        const next = () => {
            if (!isOff) update();
            colors = isOff ? OFF : ON;
            // Draw
            ctx.fillStyle = colors.grid;
            ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.fillStyle = win > 2 ? colors.goldW : colors.gold;
            ctx.fillRect(0, 0, ctx.canvas.width, 34);
            ctx.fillStyle = win > 1 ? colors.silverW : colors.silver;
            ctx.fillRect(0, 128, ctx.canvas.width, 34);
            ctx.fillStyle = win > 0 ? colors.bronzeW : colors.bronze;
            ctx.fillRect(0, 256, ctx.canvas.width, 34);

            for (let i = 0; i < grid.length; i++) {
                for (let j = 0; j < grid[i].length; j++) {
                    const cell = grid[i][j];
                    const x = j * size + pad;
                    const y = i * size + pad;
                    ctx.fillStyle = cell ? colors.cell : colors.bg;
                    ctx.fillRect(x, y, size - pad, size - pad);
                }
            }

            setTimeout(next, dt);
        };

        next();
    }
    document.addEventListener("astro:page-load", init_stack_game);
</script>
